# ORM
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres"

# Database
SUPABASE_URL="https://[PROJECT-ID].supabase.co"
SUPABASE_ANON_KEY="[ANON-KEY]"
SUPABASE_SERVICE_ROLE_KEY="[SERVICE-ROLE-KEY]"

# JWT
SUPABASE_JWT_SECRET="token"
SUPABASE_JWT_ALGORITHM="token"
SUPABASE_JWT="token"

# URLs
CLIENT_WEB_URL="localhost:port"
ADMIN_WEB_URL="localhost:port"